
th {
    height: 100px;
    width: 100px;
    background: skyblue;
    margin: 10px 10px;
}
button{
    width: 80px;
    height: 20px;
}
canvas {
    margin-left: 100px;
    margin-right: 100px;
}
input {
    width: 300px;
}
.table {
    
    margin: 0 0;
    width: fit-content;
    display: flex;
    flex-direction: row;
    
}
@media (max-width: 1300px) {
  .table {
    flex-direction: column;
  }
}
.box {
    margin: 1em;
    width: 800px ;
    height: fit-content;
}